<style>
  .projectManagementTitle {
    margin-left: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-style: oblique;
  }

  .projectinfo-header {
    font-weight: bold;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .projectinfo-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .projectinfo-container2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1520px;
  }

  .projectinfo {
    margin: auto;
    margin-top: 50px;
    height: 620px;
    box-shadow: 1px 1px 3px 3px lightgray;
    font-size: 18px;
    background-color: #fefefe;
  }

  .sub-title-text {
	margin-left: 20px;
  }

  .projectMemberManagement,
  .projectMemberManagement2 {
    width: 48%;
    margin-top: 30px;
    height: 500px;
  }

  .projectinfo-container2::before,
  .projectinfo-container2::after {
    content: "";
    display: table;
    clear: both;
  }

  .projectinfo-container2>div {
    margin-bottom: 30px;
  }

  .table th,
  .table td {
    text-align: center;
  }

  #changeProjectNameBtn {
    margin-left: 30px;
  }

  .projectDelteBtn {
    float: right;
    margin-right: 70px;
  }

  #layoutSidenav {
    background-color: #fffff0;
    height: 1350px;
  }

  .project-info-box {
    margin: 30px 50px 30px 120px;
    width: 750px;
    float: left;
  }

  #rightSideDiv {
    float: left;
    width: 550px;
    margin: 30px 0px;
  }

  .project-input {
    float: left;
    width: 450px;
  }

  .project-input-name {
    float: left;
    margin-right: 30px;
    width: 200px;
    height: 30px;
  }

  .form-design1 {
    width: 400px;
    height: 40px;
    font-size: 15px;
    border-radius: 13px;
    box-shadow: 1px 1px 3px 3px lightgray;
    border: 0;
    outline: none;
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .form-design {
    width: 450px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 13px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    margin-bottom: 5px;
  }
  
  #changeProjectNameBtn {
    border-radius: 13px;
  }

  .hr {
    background: gray;
    height: 1px;
    border: 1;
    margin-bottom: 45px;
  }

  .hr2 {
    background: gray;
    height: 1px;
    border: 1;
  }
  
  .hr3 {
    background: gray;
    height: 3px;
    border: 1;
  }

  #projectImg {
    margin-bottom: 20px;
  }

  .projectImgLabel {
    font-size: 23px;
  }
  
  .card-body >  #paginationContainer{
  text-align: center;
  }
  .table-size{
  width:710px; height : 350px;
  }
   .table-wrapper{
  	max-height: 300px; 
  	overflow-y: auto;"
  } 
  
  /* Modal */
 	#modal {
	  display: none;
	}
	
	#modal.modal-overlay {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    background: rgba(33, 43, 54, 0.75); /* 수정: 투명도 및 색상 변경 */
	    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	    backdrop-filter: blur(1.5px);
	    -webkit-backdrop-filter: blur(1.5px); 
	    border-radius: 10px;
	    border: 1px solid rgba(255, 255, 255, 0.18);
	}
	
	#modal .modal-window {
	    background: #FFFFFF; /* 수정: 색상 변경 */
	    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	    backdrop-filter: blur(13.5px);
	    -webkit-backdrop-filter: blur(13.5px); 
	    border-radius: 10px;
	    border: 1px solid rgba(255, 255, 255, 0.18);
	    width: 400px;
	    height: 200px;
	    position: relative;
	    top: -100px;
	    padding: 10px;
	}
	
	#modal .title {
	    padding-left: 10px;
	    display: inline;
	    text-shadow: 1px 1px 2px gray;
	    color: black;
	}
	
	#modal .title h2 {
	    display: inline;
	}
	
	#modal .close-area {
	    display: inline;
	    float: right;
	    padding-right: 10px;
	    cursor: pointer;
	    text-shadow: 1px 1px 2px gray;
	    color: black;
	}
	
	#modal .content {
	    margin-top: 20px;
	    padding: 0px 10px;
	    text-shadow: 1px 1px 2px gray;
	    color: black;
	    font-size: 15px;
	}
	  .form-control-board {
	    width: 250px;
	    height: 35px;
	    margin-right:10px;
	    font-size: 15px;
	    border: 0;
	    border-radius: 13px;
	    outline: none;
	    padding-left: 10px;
	    background-color: rgb(233, 233, 233);
	    margin-bottom: 5px;
	  }
	  
  
</style>